@import './../common/font-family';
@import './../common/color';

.service {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-section_service {
    width: 100%;
}

.heading_title-section_service {
    font-weight: 900;
    line-height: 70px;
    color: #333;
    margin-bottom: 102px;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
}

.card {
    height: 360px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 45px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(#000000, 0.65);
        z-index: 2;
        transition: background-color 0.2s linear;
    }
    &:hover, :active {
        &::after {
            background-color: rgba($accent, 0.65);
        }
    }
}

.card-image {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.paragraph_card {
    font-weight: 900;
    line-height: 30px;
    color: $white;
    margin-top: auto;
    z-index: 3;
}