@import './font-family';
@import './color';

.heading {
    font-family: $second-family;
}

h1.heading {
    font-family: $second-family;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
}

h2.heading {
    font-family: $second-family;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: $accent;
}

h3.heading {
    font-family: $font-family;
    font-weight: 900;
    font-size: 18px;

    // line-height: 25px; 
    line-height: 1.38;
    color: #000;
}

.title {
    font-family: $font-family;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: $gray;
    margin-bottom: 40px;
}

.paragraph {
    font-family: $font-family;
}

.fs13 {
    font-size: 13px;
}
.fs14 {
    font-size: 14px;
}
.fs18 {
    font-size: 18px;
}
.fs21 {
    font-size: 21px;
}
.fs24 {
    font-size: 24px;
}

.link {
    text-decoration: none;
    outline: none;
}

